
$snow: white;

$grass: #71c771;

$fire: rgb(182, 79, 79);

$rock-lightest: rgb(60, 60, 60);
$rock-lighter: rgb(50, 50, 50);
$rock-light: rgb(40, 40, 40);
$rock: rgb(30, 30, 30);
$rock-dark: rgb(20, 20, 20);
$rock-darker: rgb(10, 10, 10);
$rock-darkest: black;
